div {
    background-color: burlywood

}

input {
    background-color: inherit;
}

button {
    background-color: inherit;
}

h1 {
    color: white;
    background-color: burlywood;
}

h2 {
    color: white;
    background-color: burlywood;
}
h3 {
    color: white;
    background-color: burlywood;
}